29 21	* * 0	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 21	* * 0	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 9	* * 1	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 9    * * 1	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 11   * * 1	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 11	* * 1	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 13   * * 1	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 13   * * 1	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 15	* * 1	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 15	* * 1	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 21	* * 1	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 21   * * 1	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 9	* * 2	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 9	* * 2	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 11	* * 2	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 11   * * 2	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 13	* * 2	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 13	* * 2	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 15	* * 2	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 15	* * 2	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 21	* * 2	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 21	* * 2	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 9	* * 3	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 9	* * 3	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 11	* * 3	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 11	* * 3	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 13	* * 3	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 13	* * 3	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 15	* * 3	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 15	* * 3	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 21	* * 3	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 21	* * 3	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 9	* * 4	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 9	* * 4	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 11	* * 4	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 11	* * 4	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 13	* * 4	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 13	* * 4	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 15	* * 4	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 15	* * 4	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 21	* * 4	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 21	* * 4	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 9	* * 5	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 9	* * 5	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 11	* * 5	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 11	* * 5	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 13	* * 5	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 13	* * 5	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
29 15	* * 5	borchardt env DISPLAY=:0 bash -c "google-chrome-stable"
30 15	* * 5	borchardt env DISPLAY=:0 bash $HOME/TRADE/captura/captura.min.sh
